/*  Card styling*/
.profile-image (
  border-raduis: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
)

/* Nav styles*/
.active {
  background-color: green;
  color: white;
  text-decoration: black;
}
/* container styles*/
.container {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
