.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.main {
  flex-grow: 1;
  background-color: red;

  display: flex;
  padding: 5% 5%;
}

.card {
  border: 1px solid black;
  width: 33%;
  height: 200px;
}

.footer {
  background-color: yellow;
  position: relative;
}
